.email-zone {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0.5, 0.5, 0.5, 0.5);
    padding: 10px;
    margin: 10px;
    height: 14em;
}

.code-input-field.active {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0.5, 0.5, 0.5, 0.5);
    padding: 10px;
    margin: 10px;
    height: 14em;
    opacity: 1;
    transition: var(--speed) ease;
    z-index: 1;
}

.code-input-field.inactive {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0.5, 0.5, 0.5, 0.5);
    padding: 10px;
    margin: 10px;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: var(--speed) ease;
    z-index: 0;
}