html, body {
  overflow-x: hidden;
  overflow-y: hidden;
  /* overflow-y: hidden; */
}

.dropdown-input {
    display: block;
  }

.account-layout {
  font-size: 18px;
  font-weight: 500;
  color: #040404;
  padding: 10px 20px 17px 10px;
  margin: 0 0 0 0;
  background-color: rgba(229, 163, 93, 0.884);
  box-shadow: 4px 4px 4px -1px rgba(10, 99, 169, 0.16),
              -4px -4px 4px -1px rgba(255, 255, 255, 0.70);
  z-index: 3;
} 


.background-img{
  position: absolute;
  top: 5em;
  left: 0;
  background-image: url(./image/peace.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
  border-radius: 5pc 0 0 0;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: hidden;
}
.blank {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  background-color: rgb(249, 240, 238);
  z-index: -1;
}
  .hamburger {
    color: black;
    /* display: inline-block; */
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2;
  }
  
  .line {
    margin: 2px 0;
    width: 90%;
    height: 3px;
    background-color: white;
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .hamburger.active .line:nth-child(1) {
    transform: rotate(38deg);
    transform-origin: 0% 100%;
  }
  
  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .line:nth-child(3) {
    transform: rotate(-38deg);
    transform-origin: 0% 0%;
  }
#menu-toggle {
  z-index: 1;
  display: none;
  
}
#dropdown-content {
  display: block;
  position: absolute;
  right: 100%;
  opacity: 0;
  top: 3em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  align-items: left;
  overflow: hidden;
  transition: 0.2s;

}
#dropdown-content button {
  font-weight: 600;
  background-color: rgba(243, 222, 197, 0.888);
  font-size: 18px;
  text-align: right;
  padding: 5px 15px 5px 10px;
  display: inline-block;
  align-items: right;
  width: 9em;
  height: 2.25em;
  overflow: hidden;
  border: none;
  transition-delay: calc(60ms * var(--i));
}


#menu-toggle:checked + .hamburger + #dropdown-content {
  right: 0;
  opacity: 1;
}
  